<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>DSLI</title>
</head>

<body>
    <div>
            <div class="row" style="display: flex">
                    <div class="col-12 pr-0 pl-0">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                              <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" class="img-fluid logo" alt="Sonant Logo"></a>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <!-- <ul class="navbar-nav ml-auto">
                                  <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                  </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      More Options
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                      <li><a class="dropdown-item" href="#">Options 1</a></li>
                                      <li><a class="dropdown-item" href="#">Options 2</a></li>
                                      <li><a class="dropdown-item" href="#">Options 3</a></li>
                                    </ul>
                                  </li>
                                </ul> -->
                              </div>
                            </div>
                          </nav>
                    </div>
                </div>

        <div class="row" style="display: flex">
            <!-- left div -->
            <div class="col-md-6 pl-0" id="left-div" style="position:relative;">
                <div class="row">
                    <div class="col-md-8 pr-0 info text-center">
                            <h3><b>Coppy Text</b> from the <b>Book</b> and Click on Convert Button</h3>
                    </div>
                    <div class="col-md-4 pl-0">
                            <div class="enter-page" >
                                    <label for="page"> Enter Page No. </label>
                                    <input class="page-box" type="text" [(ngModel)]="page"  id="page">
                                </div>
                    </div>

                    <div class="col-md-12">
                        <div class="book-scroll">
                            <pdf-viewer [page]="page" [src]="pdfSource" value="Get Selection" [original-size]="false"></pdf-viewer>
                        </div>
                    </div>
                    <div class="col-md-12">
                            <div class="coppier-btn">
                                    <button type="button" class="btn btn-success" (click)=" selectedText()" style="margin-left:15px;">Convert ⇉</button>
                                </div>
                    </div>
                </div>

                


            </div>
            <!-- right div -->
            <div class="col-md-6 pl-0" style="  overflow-x: auto; overflow-y: auto;">
                <div class="text-bg">
                    PDF SELECTED DATA
                </div>
<div  id="divRight" style=" display: none;">
                <div class="coppied-text" name="selectedtextview"  *ngFor="let txt of textlist">
                    {{txt.sno}} {{txt.text}}<br />
                </div>
                <br>
                 <textarea   id="txtSentance" style=" background-color:white; width:100%;height:100px">
                   
                 </textarea>
                 <br/>

                    <button  class="btn btn-primary" (click)="showTextBlocks()" style="margin-top:10px;margin-bottom:10px;">Show Into Blocks</button>
                    
                <p class="text-bg" style="background-color: lightgray; border-radius: 3px;margin-top: 10px;"> For Edit Text
                        please Right Click on
                        the Boxes:</p>
               
                  
                <div #contenedor class="categories" style="width:100% ; overflow-y: scroll;"
                    oncontextmenu="return false;" cdkDropListGroup>
                    <ng-container *ngFor="let item of everyele;let i=index" style="display: flex;">
                        <div class="categories-item" cdkDropList (click)="editText(i)" contenteditable="true"
                            cdkDropListOrientation="horizontal" [cdkDropListData]="{item:item,index:i}"
                            (cdkDropListDropped)="drop($event)">
                            <div class="inner" cdkDrag>
                                
                                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                <input type="checkbox" style="float: right;" id="chk{{i}}"  >
                                <div id="txt{{i}}">{{item}}</div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <button (click)="updateText()" class="btn btn-danger" style="margin-top: 15px;">Delete Selected</button>
                <button (click)="commonText()" class="btn btn-info" style="margin-top: 15px; margin-left: 10px;">Common</button>
                <button (click)="uncommonText()" class="btn btn-info" style="margin-top: 15px; margin-left: 10px;">Uncommon</button>
                <button (click)="finger()" class="btn btn-info" style="margin-top: 15px; margin-left: 10px;">Finger</button>
                <button (click)="showTextBlocks()" class="btn btn-info" style="margin-top: 15px; margin-left: 10px;">Reset </button>
                <br/>
                
                <div style="background-color: lightgray; margin-top: 5px;">
                    <label ><b>Common Text</b></label><br/> 
                    {{commontextlist}}
                </div>
                <div style="background-color: lightgray; margin-top: 10px;" >
                    <label ><b>Uncommon Text</b></label><br/>
                    {{uncommontextlist}}
                </div>
                <div style="background-color: lightgray; margin-top: 10px;">
                    <label ><b>Finger</b></label><br/>
                    {{fingerlist}}
                </div>
            </div>
            </div>

        </div>
        <section class="footer">
                <div class="row">
                        <div class="col-12 pr-0 pl-0">
                                <nav class="navbar navbar-expand-lg  navbar-light bg-light">
                                    <div class="container-fluid">
                                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                        <ul class="navbar-nav w-100 justify-content-center">
                                          <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="#">@ copyright by Sonant 2021</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </nav>
                            </div>
                </div>
            </section>
    </div>
</body>

</html>